[submodule "ns-3-dev"]
	path = ns-3-dev
	url = https://gitlab.com/HsuLE/ns-3-dev.git
[submodule "zenoh"]
	path = zenoh
	url = https://github.com/hsule/zenoh.git
[submodule "zenohd-auto-deploy"]
	path = zenohd-auto-deploy
	url = https://github.com/hsule/zenohd-auto-deploy.git
